*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

h6{
    color: hsl(180, 29%, 50%);
    color: hsl(180, 52%, 96%);
    color: hsl(180, 31%, 95%);
    color: hsl(180, 8%, 52%);
    color: hsl(180, 14%, 20%);
}

header{
    background-image: url(./images/bg-header-desktop.svg);
    background-color: hsl(180, 29%, 50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 10rem;
}

main{
    width: 100%;
    min-height: calc(100vh - 10rem);
    background-color: hsl(180, 52%, 96%);
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.job-container{
    width: 75%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 35px 35px 35px 60px;
    border-radius: 8px;
}

.job-container-info{
    display: flex;
    align-items: center;
}

.job-container-info img {
    margin-right: 35px;
}

.job-container-info h2{
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
}

.job-container-info h3{
    margin-bottom: 10px;
}

.job-container-info span{
    font-size: 12px;
    font-weight: 700;
}

.job-container-info ul li {
    margin-right: 10px;
}

.job-container-lang li {
    margin-left: 10px;
}