*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'League Spartan', Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

h6{
    color: hsl(180, 29%, 50%);
    color: hsl(180, 52%, 96%);
    color: hsl(180, 31%, 95%);
    color: hsl(180, 8%, 52%);
    color: hsl(180, 14%, 20%);
}

header{
    background-image: url(./images/bg-header-desktop.svg);
    background-color: hsl(180, 29%, 50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 10rem;
}

main{
    width: 100%;
    min-height: calc(100vh - 10rem);
    background-color: hsl(180, 52%, 96%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
}

.job-container{
    width: 75%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 35px 35px 35px 60px;
    border-radius: 8px;
    margin-top: 20px;
}

.job-container-info{
    display: flex;
    
}

.job-container-info img {
    margin-right: 35px;
}

.job-container-info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-container-info h2{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: hsl(180, 29%, 50%);
    margin-right: 10px;
}

.job-container-info h3{
    font-size: 20px;
    color: hsl(180, 14%, 20%);
}

.job-container-info h3:hover{
    color: hsl(180, 29%, 50%);
    cursor: pointer;
}

.job-container-info span{
    font-size: 12px;
    font-weight: 700;
    color: white;
    padding: 6px 6px 3px 6px;
    border-radius: 10px;
}

.job-container-info .new{
    background-color: hsl(180, 29%, 50%);
    margin-right: 5px;
}

.job-container-info .feat{
    background-color: hsl(180, 14%, 20%);
}

.job-container-info ul {
    align-items: center;
}

.job-container-info ul li {
    margin-right: 10px;
    color: hsl(180, 8%, 52%);
    font-size: 16px;
}

.job-container-info ul .circle{
    display: block;
    width: 4px;
    height: 4px;
    background-color: hsla(180, 8%, 52%, 0.4);
    border: 1px solid hsla(180, 8%, 52%, 0.4);
    border-radius: 50%;
}

.job-container-lang li {
    margin-left: 10px;
    color: hsl(180, 29%, 50%);
    font-weight: 700;
    background-color: hsl(180, 52%, 96%);
    padding: 6px 6px 3px 6px;
    border-radius: 3px;
}

.job-container-lang li:hover{
    background-color: hsl(180, 29%, 50%);
    color: hsl(180, 31%, 95%);
    cursor: pointer;
}